<style>
  .hl-ref-list {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    counter-reset: hl-ref;
  }
  .hl-ref-list li {
    padding-left: 2.2em;
    text-indent: -2.2em;
    margin-bottom: 0.35em;
    line-height: 1.4;
    counter-increment: hl-ref;
  }
  .hl-ref-list li::before {
    content: "[" counter(hl-ref) "]";
    display: inline-block;
    width: 2em;
    margin-right: 0.2em;
    text-indent: 0;
    text-align: left;
    font-variant-numeric: tabular-nums;
    opacity: 0.8;
  }
  .hl-ref-venue { font-weight: 600; }
  .hl-ref-role { font-style: italic; opacity: 0.7; }
</style>

<ol class="hl-ref-list">
  {% for item in entry.contents %}
    <li>
      <span class="hl-ref-venue">{{ item.venue }}</span>: {{ item.title }}. {{ item.authors }}{% if item.role %} <span class="hl-ref-role">({{ item.role }})</span>{% endif %}
    </li>
  {% endfor %}
</ol>
